
.hidden-checkbox {
  display: none;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  padding: 5px;
}

  .bar {
    background-color: #fff;
    height: 2px;
    width: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  #menu-toggle:checked + .menu-icon .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-icon .bar:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked + .menu-icon .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    background-color: #343a40;
    transition: display 0.3s ease-in-out;
  }
  
  #menu-toggle:checked + .menu-icon + .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    color: #fff;
  }

  /* nested dropdown */

  .navbar-nav .nav-link {
  color: #fff;
}
.dropend .dropdown-toggle {
  color: salmon;
  margin-left: 1em;
}
.dropdown-item:hover {
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}
.clickable {
  cursor: pointer;
}
