

<div class="col-lg-6 col-md-8 col-sm-12" class="main-container">
    <!-- Left Container (Title and Images) -->
    <div class="col-lg-6 col-md-8 col-sm-12" class="left-container">
        <br>
        <h1 class="card-title">{{selectedProduct.title}}</h1>
        <ngb-rating [rate]="3"></ngb-rating><br>
        
        <!-- Images (ngb-carousel) -->
        <div class="ngb-carousel">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
                
                        <div class="picsum-img-wrapper image-container">
                            <img [src]="selectedProduct.image" alt="Image" style="width: 700px; height: 400px;">
                        </div>
            </div><br>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-8 col-sm-12" class="right-container">
          <h1 style="max-width: 50%; height: auto;">{{selectedProduct.title}}</h1> 
        <p class="description">{{selectedProduct.description}}</p>
        <span class="original-price">Original Price : <del>₹{{ selectedProduct.originalPrice.toFixed(2) }}</del></span>&nbsp;
				<span class="discounted-price">Discount Price : ₹{{ (selectedProduct.originalPrice * (1 - selectedProduct.discount / 100)).toFixed(2) }}</span><br>
       <!-- <p><b>Price:</b>${{selectedProduct.price}}</p> -->
	   <button type="button" class="btn btn-success" (click)="buynow(selectedProduct)">Download</button>

    </div>
</div>



	<footer class="bg-dark text-center text-white">
		<div class="container p-4 pb-0">
			<section class="mb-4">
				<h4>FOLLOW US ON</h4><br>
				<!-- Facebook -->
				<a mdbRipple class="btn btn-outline-light btn-floating m-1"
					href="https://www.facebook.com/vinaykumar.kompelli" target="_blank" role="button"><i
						class="fa-brands fa-facebook fa-fade fa-lg"></i></a>
	
				<!-- Twitter -->
				<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/CreativesVk"
					target="_blank" role="button"><i class="fa-brands fa-twitter fa-fade fa-lg"></i></a>
	
				<!-- Instagram -->
				<a mdbRipple class="btn btn-outline-light btn-floating m-1"
					href="https://www.instagram.com/kiran_red.dy/" target="_blank" role="button"><i
						class="fa-brands fa-instagram fa-fade fa-lg"></i></a>
	
				<!-- Linkedin -->
				<a mdbRipple class="btn btn-outline-light btn-floating m-1"
					href="https://www.linkedin.com/in/vinay-kumar-k0327/" target="_blank" role="button"><i
						class="fa-brands fa-linkedin fa-fade fa-lg"></i></a>
	
				<!-- Github -->
				<a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://gitlab.com/vinaykumargoud"
					target="_blank" role="button"><i class="fa-brands fa-gitlab fa-fade fa-lg"></i></a>
			</section>
		</div>
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright:
			<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer>